@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  color: #161615;
  /* background-color: #dfdfe2; */
  scroll-behavior: smooth;
}

.main,
.header,
.testamonials {
  width: 100vw;
  height: 100vh;
}

.bg-purple {
  background: rgb(45, 54, 211);
}

.bg-bluegradient {
  background: linear-gradient(90deg,
      rgb(1, 30, 254),
      rgb(0, 247, 254))
}

.footer,
.upload_jobs,
.our_blogs,
.newsletter {
  width: 100vw;
  height: 35vh;
}

.border-circle {
  border-radius: 50%;
}

#svgelem {
  background: url("images/wfh_1.svg") center;
  width: 600px;
  height: 600px;
  background-size: 600px 600px;
}
