@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #161615;
  /* background-color: #dfdfe2; */
  scroll-behavior: smooth;
}

.main,
.header,
.testamonials {
  width: 100vw;
  height: 100vh;
}


.footer,
.upload_jobs,
.newsletter {
  width: 100vw;
  height: 35vh;
}
